docs/n8n-sample-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kamotion-parse",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f489cab8-ad47-4821-9cab-52bedc50b404",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        160
      ],
      "webhookId": "kamotion-parse",
      "credentials": {
        "httpBasicAuth": {
          "id": "8cb8Ln04LoEmBCLh",
          "name": "n8n-kamotion.io"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are Kamotion's task extractor. Read the input text and emit actionable cards that match the schema attached to this agent.\n\nInputs are passed in from the webhook body:\n- mode: {{ $json.body.mode }}\n- output_mode: {{ $json.body.outputMode || 'multiple' }}\n- team_members: {{ JSON.stringify($json.body.teamMembers || []) }}\n- today: {{ $now.toFormat('yyyy-MM-dd') }}\n\nRules:\n- If mode is \"solo\": set every card's assignee to \"me\".\n- If mode is \"team\": distribute assignee among the listed team members based on context; if unclear, pick a reasonable default from the list.\n- requester: default to \"me\" unless the text clearly names someone else making the request.\n- request_date: set to today unless the text clearly states another date. Resolve relative dates (\"Friday\", \"next week\") against today.\n- priority: infer from tone — deadlines/urgency → \"High\"; nice-to-haves/backlog → \"Low\"; otherwise \"Normal\".\n- status: always \"Not Started\" unless the text clearly says otherwise.\n- domain: tag each card with one of \"Engineering\", \"Design\", \"UX\", \"Content\", \"Marketing\", \"Client\", \"Admin\", or \"Other\". Pick the single most accurate domain — where the work primarily happens. Use \"Other\" sparingly.\n- For any field without a clear value in the text, return null (dates, duration, notes). Never invent due dates or durations.\n- Return only JSON that matches the schema — no prose, no markdown fences.\n\nOutput mode:\n- If output_mode is \"multiple\" (default): decompose the text into atomic tasks. One card per distinct action. Return 0 to 50 cards. Empty array if nothing is actionable.\n- If output_mode is \"single\": return EXACTLY ONE card that bundles every action found in the text. Use an umbrella title that captures the theme (imperative phrase, specific to this paste). In notes, write a short context line then a markdown checklist with one \"- [ ] item\" per action you would have created in multiple mode. Set priority to the highest across actions, due_date to the earliest explicit date (or null), assignee to \"me\" by default. Pick the domain that best describes the bundle as a whole. Empty array only if the text has no actionable content at all."
        }
      },
      "id": "d95ce075-c3c6-4faa-8c8b-f2dacf66a275",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        272,
        160
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\n    \"cards\"\n  ],\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"cards\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"required\": [\n          \"task\",\n          \"assignee\",\n          \"requester\",\n          \"request_date\",\n          \"due_date\",\n          \"estimated_duration\",\n          \"notes\",\n          \"priority\",\n          \"status\",\n          \"domain\"\n        ],\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"task\": {\n            \"type\": \"string\",\n            \"minLength\": 1,\n            \"maxLength\": 500\n          },\n          \"assignee\": {\n            \"type\": \"string\",\n            \"minLength\": 1,\n            \"maxLength\": 120\n          },\n          \"requester\": {\n            \"type\": \"string\",\n            \"minLength\": 1,\n            \"maxLength\": 120\n          },\n          \"request_date\": {\n            \"type\": [\n              \"string\",\n              \"null\"\n            ],\n            \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\"\n          },\n          \"due_date\": {\n            \"type\": [\n              \"string\",\n              \"null\"\n            ],\n            \"pattern\": \"^\\\\d{4}-\\\\d{2}-\\\\d{2}$\"\n          },\n          \"estimated_duration\": {\n            \"type\": [\n              \"string\",\n              \"null\"\n            ]\n          },\n          \"notes\": {\n            \"type\": [\n              \"string\",\n              \"null\"\n            ]\n          },\n          \"priority\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"Low\",\n              \"Normal\",\n              \"High\"\n            ]\n          },\n          \"status\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"Not Started\",\n              \"Ready\",\n              \"In Progress\",\n              \"Blocked\",\n              \"Review\",\n              \"Approved\"\n            ]\n          },\n          \"domain\": {\n            \"type\": [\n              \"string\",\n              \"null\"\n            ],\n            \"enum\": [\n              \"Engineering\",\n              \"Design\",\n              \"UX\",\n              \"Content\",\n              \"Marketing\",\n              \"Client\",\n              \"Admin\",\n              \"Other\",\n              null\n            ]\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "4a1e8aaa-e3f6-4d0c-be83-8f4fffa57850",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        496,
        384
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "91e008fb-09c7-4179-b435-8c93b31a401c",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        576,
        160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "google/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        176,
        384
      ],
      "id": "a01391c2-edf6-4cd3-ab67-8f3eea2cccce",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "KZZsv1xl5V6OfvMN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        352,
        400
      ],
      "id": "5af48e03-fcaa-49fd-ad29-7ff2a0b1e0c0",
      "name": "Date & Time"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a4fc2d45fa1aebec3b136370a3b547c980180bf2fa5c0c991b021cb436751e24"
  }
}